<ng-http-loader></ng-http-loader>
<div class="w-screen bg-gray-400 h-screen flex flex-col justify-center content-center">
<section class="max-w-4xl p-6 mx-auto h-6/12 w-3/6 bg-white rounded-md shadow-md dark:bg-gray-800">
    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Mamoun Task</h2>

    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <div>
                <label class="form-label" for="file1">File 1*</label>
                <input (change)="onFileSelect($event,'file1')" formControlName="file1" id="file1" type="file" class="form-input">

            </div>

            <div>
                <label class="form-label" for="file2">File 2*</label>
                <input (change)="onFileSelect($event,'file2')" formControlName="file2" id="file2" type="file" class="form-input">
            </div>

            <div>
                <label class="form-label" for="numberOfLines">number of lines to process*</label>

                <input  formControlName="numberOfLines" id="numberOfLines" type="number" class="form-input">
            <small class="text-gray-400">**Lines  Must be More than 4 and less than 101 </small>
            </div>

            <div>
                <label class="form-label" for="collationPolicy">Collation Policy* </label>
                <select formControlName="collationPolicy" id="collationPolicy" class="form-input"  >
                    <option  value="full">Full</option>
                    <option value="normal">Normal</option>
                </select>
            </div>
            <div>
                <label class="form-label" for="download">Download Result ?</label>
                <input formControlName="download" id="download" type="checkbox" class=" px-2 mx-2">
            </div>

        </div>

        <div class="flex justify-end mt-6">
            <button class="btn-secondary " type="reset" (click)="onReset()">Reset</button>
            <button class="btn" [disabled]="dataForm.invalid"
                    [swal]="
                    { title: 'Are you sure?',
                       icon: 'info',
                       showCancelButton: true }"
                    (confirm)="onSubmit()"
            >Proceed</button>

        </div>
    </form>

    <div  *ngIf="message" class="w-full mt-4">
        <label  class="form-label">Message</label>

        <textarea class="form-textArea">{{message}}</textarea>
    </div>
</section>
</div>